<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvmrFKF6zDKFtXwDtauXjO6Xsbw0y8LWY</string>
	<key>GCM_SENDER_ID</key>
	<string>835061287008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nilgulcakir.FirebaseAuthenticationTask</string>
	<key>PROJECT_ID</key>
	<string>journeydaringduckauth</string>
	<key>STORAGE_BUCKET</key>
	<string>journeydaringduckauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835061287008:ios:0b2ca188a4fb9fb872db05</string>
</dict>
</plist>